
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>Confirmation</h2>

@model string
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Xác nhận</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Xác nhận</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Order Details Area =================-->
<section class="order_details section_gap">
    <div class="container">
        <h3 class="title_confirmation" style="margin-bottom:8px">Cảm ơn đã đặt hàng!</h3>
        <h3 class="title_confirmation" style="margin-bottom:50px;">Mã đơn đặt hàng của bạn: @Model</h3>
    </div>
</section>