<!-- End Header Area -->
<!-- Start Banner Area -->
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Theo dõi đơn hàng</h1>
                    <nav class="d-flex align-items-center">

                        <a href="@Url.Action("Index", "Home")">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                        <a href="@Url.Action("Tracking", "TrackingOrder")">Theo dõi danh mục</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <!--================Tracking Box Area =================-->
    <section class="tracking_box_area section_gap" style="padding-bottom:60px;">
        <div class="container">
            <div class="tracking_box_inner">
                <p>
                    Để theo dõi đơn hàng của bạn, vui lòng nhập ID đơn hàng của bạn vào ô bên dưới và nhấn nút "Theo dõi". Mã này
                    đã được cung cấp cho bạn trên biên lai và trong email xác nhận mà bạn phải nhận được.
                </p>
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="orderId" name="orderId" placeholder="Mã đơn hàng" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mã đơn hàng'">
                </div>
                @*  <div class="col-md-12 form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Billing Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Billing Email Address'">
                    </div>  *@
                <div class="col-md-12 form-group">
                    <button class="primary-btn" style="border-radius:2px;border:none" id="btnOrderFind">Theo dõi đơn hàng</button>
                </div>
            </div>
        </div>
    </section>
    <!--================End Tracking Box Area =================-->
    <!-- start footer Area -->
    <div id="partialOrder">

    </div>

    <script>
    $(document).ready(function () {
            $('#btnOrderFind').click(function () {
                var maOrderView = $('#orderId').val();
                $.ajax({
                    url: '/TrackingOrder/TrackingDetails',
                    type: 'GET',
                    data: {
                        orderId: maOrderView
                    },
                    success: function (response) {
                        $('#partialOrder').html(response);
                    }
                });
            });
        });</script>
