
@{
    ViewBag.Title = "Zalo";
    Layout = "~/Views/_ViewStart.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://stc-zaloprofile.zdn.vn/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Chat với Shoes shop - Một ứng dụng Zalo thú vị" />
    <meta property="og:title" content="Zalo - Shoes shop" />
    <meta property="og:description" content="Chat với Shoes shop - Một ứng dụng Zalo thú vị" />
    <meta property="og:image" content="https://zalo.me/g/nqwbho855" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
    <title>Zalo - Shoes shop</title>
    <script src="https://za.zdn.vn/v3/za.js"></script>
    <script defer="defer" src="https://stc-zaloprofile.zdn.vn/profile/static/js/main.1.0.5.js"></script>
    <link href="https://stc-zaloprofile.zdn.vn/profile/static/css/main.1.0.5.css" rel="stylesheet" />
</head>
<body>
    <div id="root">
        <script>window.pageInfo = {
                "type": 3,
                "name": "Shoes  Shop",
                "avatar": "https://s480-ava-grp-talk.zadn.vn/b/0/a/c/2/480/bf859d84c3d4d39df572496f062f3281.jpg",
                "thumbnail": "http://www.w3.org/2000/svg",
                "description": "Nếu bạn có thắc mắc có thể gửi tin nhắn thông qua Zalo ngay qua cho chúng mình,mọi vấn đề sẽ được giải đáp trong 24h.",
                "qrCodeUrl": "https://group-qr.zdn.vn/1/e59c078e2dd5c48b9dc4",
                "messageInfo": {
                    "argv": "wzflbw773",
                    "hasZWebSession": false
                }
            };
        </script>
    </div>
</body>
</html>
